/* body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
} */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: 'Montserrat', sans-serif;
}


.bgImage {
    height: 100vh;
    min-height: 500px;
    background-image: url('./images/waterfall.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 5.5rem;
    color: white;
    width: 100%;
}

h4 {
    font-weight: bolder;
}

.subHome {
    color: white;
    font-size: 2.5rem;
    font-weight: lighter;
}

.nav {
    margin-right: 5rem;

}

.nav-link {
    color: white;
    margin-right: 1rem;
    margin-top: 1rem;
}

.nav-link:hover {
    color: #00dae6;
}

.learnMore {
    background-color: transparent;
    color: white;
    border: white solid 2px;
    border-radius: 5%;
    width: 15rem;
    height: 3rem;
    margin-top: 15rem;
}

.learnMore:hover {
    background-color: white;
    color: #00dae6;
}

.mePic {
    transform: rotate(90deg);
    height: 48%;
    margin-right: 25rem;
    margin-left: 0;
    position: relative;
    right: 4.3rem;
    top: 3.7rem;
    border-radius: 100%;
}

main {
    background-color: #fff7f3;
}

.aboutSection {
    margin-top: 10rem;
    text-align: center;
    height: 43.75rem;
}

.myName {
    color: #00dae6;
}

.aboutMe {
    text-align: left;
}

h4 {
    color: #00dae6;
}

.mySkills {
    /* background-color: lightgray; */
    height: 62.5rem;
    max-width: 100%;
    text-align: center;
}

.skillPara {
    margin-left: 15%;
    margin-right: 15%;
}

.icons {
    margin-top: 5rem;
}

.icon {
    margin-bottom: 2rem;
}

.skillsTitle {
    padding-top: 2rem;
    margin-bottom: -3rem;
}

.star {
    width: 15%;

}

.languageHeadings {
    width: 55%;
    height: 6rem;
    color: #434544;
    text-align: left;
}

.tableSkills {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.tableHeading {
    margin-top: 5rem;
}

#contact {
    background-image: url("./images/night2.jpg");
    max-width: 100%;
    height: 43.75rem;
    text-align: center;
}

.contactMe {
    margin-top: 17rem;
    color: white;
}

.email {
    color: white;
}

#footer {
    text-align: left;
    margin-left: 5rem;
    max-width: 100%;
}

.emailPhone {
    font-size: 1.4rem;
    padding-top: 1rem;
}

.linkPro {
    color: white;
}

.imagetiles {
    padding: 0;
}

.projects {
    max-width: 55%;
}

.img-responsive {
    object-fit: cover;
}

.card-group {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    
}

.card-img-top {
    height: 15.625rem;
}

.card-img {
    height: 15.625rem;
    border-radius: 0;
}

#projects {
    background-color: #fff7f3;
    text-align: center;
}

.project-title {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

/* .final-row {
    background-color: lightgray;
    padding-bottom: 5.5rem;
} */

.proj {
    padding-bottom: 4.5rem;
}

.card {
    border-radius: 0;

}

.card-img {
    padding-bottom: 0;
}

.hover-text {
    position: absolute;
    margin-left: 25%;
    margin-top: 25%;
    color: pink;
}

.card-img-overlay {
    opacity: 0;

}

.card-img-overlay:hover, .card-img-overlay:active{
    color: white;
    background-color: black;
    opacity: 80%;
}

.card-title {
    margin-top: 25%;
}

.card-title {
    color: #00dae6;
}

@media only screen 
  and (min-device-width: 319px) 
  and (max-device-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    h1 {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }
    
    .subHome {
        font-size: 2rem;
    }

    .nav-item {
        display: none;
    }

    .mePic {
        height: 75%;
        margin-left: 19%;
        /* top: 1rem; */
    }

    .aboutSection {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .aboutArticle {
        top: 5rem;
        height: 970px;
    }

    .me {
        margin-top: 1.5rem;
        height: 350px;
    }

    .meTitle {
        margin-bottom: 2.5rem;
    }
    
    .skills {
        height: 1300px;
    }
    
    #projects {
        margin-top: 1100px;
    }
    
    .icon {
        margin-top: 2rem;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .mePic {
        margin-top: 2.5rem;
        height: 55%;
        margin-left: 25%;
        /* top: 1rem; */
    }

    .aboutSection {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .meTitle {
        margin-bottom: 2.5rem;
        margin-top: -3.5rem;
    }

    #projects {
        margin-top: 900px;
    }

    .icon {
        margin-top: 2rem;
    }
}